@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    padding: 5px;
}

.navtransition{
    transition: all ease-in-out 1s;
}

.input-field{
    width: 80%;
    height: 40px;
    padding-left: 20px;
}

.message{
    height: 150px;
    resize: none;
}



@media (max-width: 678px) {
    .input-field{
        width: 100%;
    }
}